
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Get">

            <div class="form-group">
                
                <input name="Name" class="form-control" placeholder="Name" />

            </div>
            <div class="form-group">
                
                <input name="Price" class="form-control" placeholder="Price"/>
            </div>
            <hr />
            <strong>Maker</strong><br />
            <div class="form-group">
                
                <input name="Maker.Name" class="form-control" placeholder="Maker.Name" />

            </div>
            <div class="form-group">
                
                <input name="Price" class="form-control" placeholder="Maker.Country" />
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

